* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 48px;
  font-weight: 500;
  color: coral;
  text-transform: capitalize;
}

/* navbar css */
.header_Wrapper .navbar {
  padding: 0px 100px;
}

@media only screen and (max-width: 620px) {
  .header_Wrapper .navbar {
    padding: 0px 10px;
  }
}

.header_Wrapper .navbar-toggler {
  outline: none !important;
  border: none;
}

.header_Wrapper .navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  color: #1a237e;
  font-size: 20px;
}
.nav-link.active {
  color: coral !important;
}
/* navbar css */

/*banner section */
.home_page_banner {
  padding: 80px 0px;
  z-index: -9999px !important;
}

.home_page_banner .banner_title {
  font-size: 48px;
  font-weight: 500;
  color: coral;
  text-transform: capitalize;
}

@media only screen and (max-width: 620px) {
  .home_page_banner {
    padding: 40px 0px;
  }

  .home_page_banner .banner_title {
    font-size: 26px;
    font-weight: 900;
    color: coral;
  }
}
@media only screen and (max-width: 620px) {
  .banner_img_section {
    display: none;
  }

  .navbar-nav {
    background: red;
    z-index: 9999px !important;
  }
}
@media only screen and (max-width: 620px) {
  .collapse .navbar-collapse {
    background-color: red !important;
  }
}

.home_page_banner .banner_title span {
  color: #1a237e;
}

.highlight {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.my_inderline_style {
  background: coral;
  width: 80px;
  height: 4px;
  margin: auto;
}

.highlight_wrap {
  margin-bottom: 10px;
}
.highlight_wrap:hover .my_inderline_style {
  width: 100px;
  margin-bottom: 10px;
  transition: 2s ease;
  cursor: pointer;
}

.learn-more-btn-wrap a {
  color: #fff;
  font-size: 24px;
  background: coral;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: capitalize;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 100%);
}
.learn-more-btn-wrap {
  margin: auto;
}

/*banner section */

/* service */

.consultancy {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 25px 98px 0 rgb(0 0 0 / 100%); */
}
.consultancy h2 {
  font-size: 22px;
  font-weight: 700;
}
.dig_mrkting {
  background-color: #ebdcf9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.dig_mrkting h2 {
  font-size: 22px;
  font-weight: 700;
}

/* service */

/*abt*/
.about_wrap {
  padding: 100px 20px;
  margin-bottom: 60px;
}

.about_wrap p {
  font-size: 20px;
  color: lightslategray;
}
.winnie_box {
  height: 400px;
  width: 400px;
  position: relative;

  background-image: url("../images/abt.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.winnie_box h1 {
  color: blue;
  position: absolute;
  right: -55%;
  top: 30%;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

/*abt*/
